log.zip
data01
*.zip
build/bin
data02/history
data02/geth/LOCK
data02/geth/nodekey
data02/geth/transactions.rlp
data02/geth/chaindata/000022.ldb
data02/geth/chaindata/000023.ldb
data02/geth/chaindata/000026.ldb
data02/geth/chaindata/000029.log
data02/geth/chaindata/CURRENT
data02/geth/chaindata/CURRENT.bak
data02/geth/chaindata/LOCK
data02/geth/chaindata/LOG
data02/geth/chaindata/MANIFEST-000030
data02/geth/chaindata/ancient/bodies.0000.cdat
data02/geth/chaindata/ancient/bodies.cidx
data02/geth/chaindata/ancient/diffs.0000.rdat
data02/geth/chaindata/ancient/diffs.ridx
data02/geth/chaindata/ancient/FLOCK
data02/geth/chaindata/ancient/hashes.0000.rdat
data02/geth/chaindata/ancient/hashes.ridx
data02/geth/chaindata/ancient/headers.0000.cdat
data02/geth/chaindata/ancient/headers.cidx
data02/geth/chaindata/ancient/receipts.0000.cdat
data02/geth/chaindata/ancient/receipts.cidx
data02/geth/nodes/000040.ldb
data02/geth/nodes/000044.log
data02/geth/nodes/000046.ldb
data02/geth/nodes/CURRENT
data02/geth/nodes/CURRENT.bak
data02/geth/nodes/LOCK
data02/geth/nodes/LOG
data02/geth/nodes/MANIFEST-000042
data02/geth/triecache/data.0.bin
data02/geth/triecache/data.1.bin
data02/geth/triecache/data.10.bin
data02/geth/triecache/data.11.bin
data02/geth/triecache/data.2.bin
data02/geth/triecache/data.3.bin
data02/geth/triecache/data.4.bin
data02/geth/triecache/data.5.bin
data02/geth/triecache/data.6.bin
data02/geth/triecache/data.7.bin
data02/geth/triecache/data.8.bin
data02/geth/triecache/data.9.bin
data02/geth/triecache/metadata.bin
data02
